[{:name "Sesong 1"
  :description "Vi lager første spill i serien, en memo-variant som er
                hakket mer utfordrende enn du er vant til. Du må ikke
                flippe opp zombier eller tåke, og tida løper fra deg
                fortere enn du løper fra zombiene."
  :episodes [{:number "01" :youtube "" :size "0mb" :name "Introduksjon"}
             {:number "02" :youtube "RjM-ApBG61E" :size "141mb" :name "Opp med serveren"}
             {:number "03" :youtube "ibXLfI4U7_0" :size "115mb" :name "Quiescent"}
             {:number "04" :upcoming "fredag 2. april" :name "Få ferdig UIet"}]}]
