[{:name "Sesong 1"
  :old? true
  :prefixes {:url "e" :disqus ""}
  :description "Den første sesongen fra 2014. Her lagde vi en memo-variant som er
                hakket mer utfordrende enn du er vant til. Du må ikke
                flippe opp zombier eller tåke, og tida løper fra deg
                fortere enn du løper fra zombiene."
  :episodes [{:number "01" :youtube "sbxKFKJxxmw" :date "2014-04-28" :size "26mb"  :name "Introduksjon"}
             {:number "02" :youtube "RjM-ApBG61E" :date "2014-04-28" :size "141mb" :name "Opp med serveren"}
             {:number "03" :youtube "ibXLfI4U7_0" :date "2014-04-28" :size "115mb" :name "Quiescent"}
             {:number "04" :youtube "shmoH3_PjX8" :date "2014-05-02" :size "154mb" :name "Få ferdig UIet"}
             {:number "05" :youtube "7ci8mnBugc0" :date "2014-05-02" :size "168mb" :name "Backend's back"}
             {:number "06" :youtube "lurN6A7xmLo" :date "2014-05-09" :size "31mb"  :name "Knasende god"}
             {:number "07" :youtube "_4_vic0rzIQ" :date "2014-05-14" :size "30mb"  :name "Hjernesmelting"}
             {:number "08" :youtube "AwZjE-cPYC0" :date "2014-05-16" :size "43mb"  :name "Face events"}
             {:number "09" :youtube "21l9QF4-8Nw" :date "2014-05-21" :size "58mb"  :name "Tikk tikk tikk"}
             {:number "10" :youtube "K6TjzUPWgbo" :date "2014-05-23" :size "45mb"  :name "Spilleren MÅ DØ!"}
             {:number "11" :youtube "A2-evXlkyBY" :date "2014-05-28" :size "29mb"  :name "Man kan visst vinne også"}
             {:number "12" :youtube "yOjCPlPp0OI" :date "2014-05-30" :size "40mb"  :name "Sad trombone"}
             {:number "13" :youtube "AQxNbL96MKU" :date "2014-06-04" :size "27mb"  :name "unface-concealed"}
             {:number "14" :youtube "uaq_TjblhlM" :date "2014-06-06" :size "42mb"  :name "Eye sockets"}
             {:number "15" :youtube "RSV6xeTRzCQ" :date "2014-06-11" :size "29mb"  :name "Tiden rænder ud"}
             {:number "16" :youtube "VkO8Djgmbqk" :date "2014-06-13" :size "27mb"  :name "Jeg klikker!"}
             {:number "17" :youtube "MGpz1AYZc-o" :date "2014-06-18" :size "43mb"  :name "Knusing av insekter"}
             {:number "18" :youtube "0N1dndAFpVI" :date "2014-06-20" :size "33mb"  :name "På en snurr"}
             {:number "19" :youtube "xkf-X8qwhtk" :date "2014-06-25" :size "32mb"  :name "Chanandeler Bong"}
             {:number "20" :youtube "IYRZj6KXS1s" :date "2014-06-25" :size "30mb"  :name "Føkkings ferdig"}]}
 {:name "Intermezzo 1"
  :old? true
  :prefixes {:url "s01i" :disqus "s01i"}
  :description "Smårydding og småpludring i forberedelse til en sesong 2 det aldri ble noe av."
  :episodes [{:number "01" :youtube "s5IHOMd_I24" :date "2014-09-03" :size "32mb" :name "Refaktorering 1"}
             {:number "02" :youtube "X7VHxD8ZlCc" :date "2014-09-22" :size "35mb" :name "Refaktorering 2"}
             {:number "03" :youtube "5KxyDvOxbsE" :date "2014-09-22" :size "50mb" :name "Refaktorering 3"}
             {:number "04" :youtube "t3Dr_Z3o8IE" :date "2014-09-22" :size "17mb" :name "Klar for JavaZone"}]}
 {:name "Sesong 2"
  :ditch-disqus? true
  :prefixes {:url "s02e" :disqus "s02e"}
  :description "I spill nummer to er det på tide å ta opp kampen mot zombiene. Kast terninger og slå ned noen vandøde."
  :episodes [{:number "00" :youtube "tmO-i-HsRFs" :date "2022-03-11" :name "Spede begynnelser" :note "* valgfri wiring-episode"}
             {:number "01" :youtube "0f-9JbYAOPE" :date "2022-03-11" :name "To litt rustne tomsinger" :note "* moroa begynner"}
             {:number "02" :youtube "xGxyzjY1wmY" :date "2022-03-11" :name "Et lite tips"}
             {:number "03" :youtube "ZAZ7ECr3RiY" :date "2022-03-18" :name "Tilbake til grunnskolen"}
             {:number "04" :youtube "JcqfKpl8e5c" :date "2022-03-25" :name "Skrive tester, vi må"}
             {:number "05" :youtube "ppmruAp56Uc" :date "2022-04-01" :name "Actionizer"}
             {:number "06" :youtube "8U82TR110fk" :date "2022-04-08" :name "Kan det bli nok tips?"}
             {:number "07" :youtube "yXXPdo6V1nM" :date "2022-04-15" :name "Wait for it!"}
             {:number "08" :youtube "QAIbBgMZ3-0" :date "2022-04-22" :name "Omatt"}
             {:number "09" :youtube "b_7srjBpDBY" :date "2022-04-29" :name "Lur server"}
             {:number "10" :youtube "L9S4QHN8-C4" :date "2022-05-06" :name "Hællæwood"}
             {:number "11" :youtube "uH-YhIaBf0E" :date "2022-05-13" :name "Rolling, rolling, rolling"}
             {:number "12" :youtube "g6asPPiS224" :date "2022-05-20" :name "\"Clamps\""}
             {:number "13" :youtube "yNc9-hazj_0" :date "2022-05-27" :name "Romertallenes fortreffelighet"}]}]
