body {background: url(/img/canvas.jpg) repeat; font-size: 16px; line-height: 1.5;}
.main {padding: 0 10px; margin: 10px 0;}

.header {text-align: center;}
.teaser {font-family: "Courier New"; font-size: 14px;}

.header,
.intro,
.season {margin-bottom: 20px;}

.intro {font-size: 17px;}

img {max-width: 100%;}

h2 {font-size: 22px; font-weight: bold;}

.box,
.episode {background: url(/img/texture.gif) repeat; border-bottom: 1px solid #a2a2a2; margin-top: 5px;}
.episode a {display: block; padding: 12px 10px 12px 88px; background: url(/img/episode.png) no-repeat 7px 50%;}
.episode {font-size: 14px;}

.embed-container { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; max-width: 100%; height: auto; }
.embed-container iframe,
.embed-container object,
.embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.box {padding: 20px 20px;}

.note {display: none;}

form {margin: 5px 0 10px;}
form input {padding: 5px; min-width: 50%; font-size: 16px;}

.faded {color: #888;}
.small {font-size: 14px;}
.nowrap {white-space: nowrap;}

.faded a {color: #77b;}

ul li {list-style: disc; margin-left: 25px;}

.body {padding-bottom: 20px;}

.mtl {margin-top: 30px;}
.mts {margin-top: 10px;}
.mbm {margin-bottom: 20px;}
.mrm {margin-right: 20px;}
.right {float: right;}

.clear {clear: both;}

.article {overflow:hidden;}
.article p,
.article ul {margin-bottom: 20px;}